{% extends 'layout.html.twig' %}

{% block content %}
    <div class="mt60"></div>
    <div class="container box-home">
        <div class="row">
            <h2>Ecommerce Products Display Layout</h2>
            <p>
                This snippent uses <a href="http://daneden.github.io/animate.css/" target="_blank">Animate.css</a> for the animation of the buttons.
            </p>
            <div class="col-sm-3">
                <article class="col-item">
                    <div class="photo">
                        <div class="options">
                            <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Add to wish list">
                                <i class="fa fa-heart"></i>
                            </button>
                            <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Compare">
                                <i class="fa fa-exchange"></i>
                            </button>
                        </div>
                        <div class="options-cart">
                            <button class="btn btn-default" title="Add to cart">
                                <span class="fa fa-shopping-cart"></span>
                            </button>
                        </div>
                        <a href="#"> <img src="https://unsplash.it/500/300?image=0" class="img-responsive" alt="Product Image" /> </a>
                    </div>
                    <div class="info">
                        <div class="row">
                            <div class="price-details col-md-6">
                                <p class="details">
                                    Lorem ipsum dolor sit amet, consectetur..
                                </p>
                                <h1>Sample Product</h1>
                                <span class="price-new">$110.00</span>
                            </div>
                        </div>
                    </div>
                </article>
                <p class="text-center">Hover over image</p>
            </div>
            <div class="col-sm-3">
                <article class="col-item">
                    <div class="photo">
                        <div class="options">
                            <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Add to wish list">
                                <i class="fa fa-heart"></i>
                            </button>
                            <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Compare">
                                <i class="fa fa-exchange"></i>
                            </button>
                        </div>
                        <div class="options-cart">
                            <button class="btn btn-default" title="Add to cart">
                                <span class="fa fa-shopping-cart"></span>
                            </button>
                        </div>
                        <a href="#"> <img src="https://unsplash.it/500/300?image=0" class="img-responsive" alt="Product Image" /> </a>
                    </div>
                    <div class="info">
                        <div class="row">
                            <div class="price-details col-md-6">
                                <p class="details">
                                    Lorem ipsum dolor sit amet, consectetur..
                                </p>
                                <h1>Sample Product</h1>
                                <span class="price-new">$110.00</span>
                            </div>
                        </div>
                    </div>
                </article>
                <p class="text-center">Hover over image</p>
            </div>
            <div class="col-sm-3">
                <article class="col-item">
                    <div class="photo">
                        <div class="options">
                            <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Add to wish list">
                                <i class="fa fa-heart"></i>
                            </button>
                            <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Compare">
                                <i class="fa fa-exchange"></i>
                            </button>
                        </div>
                        <div class="options-cart">
                            <button class="btn btn-default" title="Add to cart">
                                <span class="fa fa-shopping-cart"></span>
                            </button>
                        </div>
                        <a href="#"> <img src="https://unsplash.it/500/300?image=0" class="img-responsive" alt="Product Image" /> </a>
                    </div>
                    <div class="info">
                        <div class="row">
                            <div class="price-details col-md-6">
                                <p class="details">
                                    Lorem ipsum dolor sit amet, consectetur..
                                </p>
                                <h1>Sample Product</h1>
                                <span class="price-new">$110.00</span>
                            </div>
                        </div>
                    </div>
                </article>
                <p class="text-center">Hover over image</p>
            </div>
            <div class="col-sm-3">
                <article class="col-item">
                    <div class="photo">
                        <div class="options">
                            <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Add to wish list">
                                <i class="fa fa-heart"></i>
                            </button>
                            <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Compare">
                                <i class="fa fa-exchange"></i>
                            </button>
                        </div>
                        <div class="options-cart">
                            <button class="btn btn-default" title="Add to cart">
                                <span class="fa fa-shopping-cart"></span>
                            </button>
                        </div>
                        <a href="#"> <img src="https://unsplash.it/500/300?image=0" class="img-responsive" alt="Product Image" /> </a>
                    </div>
                    <div class="info">
                        <div class="row">
                            <div class="price-details col-md-6">
                                <p class="details">
                                    Lorem ipsum dolor sit amet, consectetur..
                                </p>
                                <h1>Sample Product</h1>
                                <span class="price-new">$110.00</span>
                            </div>
                        </div>
                    </div>
                </article>
                <p class="text-center">Hover over image</p>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        /*Tooltip*/
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}