{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container box-busqueda">
        <div class="col-sm-4 col-md-4 col-lg-4"></div>
        <div class="flipkart-navbar-search smallsearch col-sm-4 col-xs-4">
            <div class="row">
                <input class="flipkart-navbar-input col-xs-11" type="" placeholder="Busca establecimientos o por ciudad" name="">
                <button class="flipkart-navbar-button col-xs-1">
                    <svg width="15px" height="15px">
                        <path d="M11.618 9.897l4.224 4.212c.092.09.1.23.02.312l-1.464 1.46c-.08.08-.222.072-.314-.02L9.868 11.66M6.486 10.9c-2.42 0-4.38-1.955-4.38-4.367 0-2.413 1.96-4.37 4.38-4.37s4.38 1.957 4.38 4.37c0 2.412-1.96 4.368-4.38 4.368m0-10.834C2.904.066 0 2.96 0 6.533 0 10.105 2.904 13 6.486 13s6.487-2.895 6.487-6.467c0-3.572-2.905-6.467-6.487-6.467 "></path>
                    </svg>
                </button>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4"></div>
    </div>
    <div class="container box-home">
        <div class="row">
            <h2>Ecommerce Products Display Layout</h2>
            <p>
                This snippent uses <a href="http://daneden.github.io/animate.css/" target="_blank">Animate.css</a> for the animation of the buttons.
            </p>
            <div class="col-sm-3">
                <article class="col-item">
                    <div class="photo">
                        <div class="options">
                            <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Add to wish list">
                                <i class="fa fa-heart"></i>
                            </button>
                            <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Compare">
                                <i class="fa fa-exchange"></i>
                            </button>
                        </div>
                        <div class="options-cart">
                            <button class="btn btn-default" title="Add to cart">
                                <span class="fa fa-shopping-cart"></span>
                            </button>
                        </div>
                        <a href="#"> <img src="https://unsplash.it/500/300?image=0" class="img-responsive" alt="Product Image" /> </a>
                    </div>
                    <div class="info">
                        <div class="row">
                            <div class="price-details col-md-6">
                                <p class="details">
                                    Lorem ipsum dolor sit amet, consectetur..
                                </p>
                                <h1>Sample Product</h1>
                                <span class="price-new">$110.00</span>
                            </div>
                        </div>
                    </div>
                </article>
                <p class="text-center">Hover over image</p>
            </div>
            <div class="col-sm-3">
                <article class="col-item">
                    <div class="photo">
                        <div class="options">
                            <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Add to wish list">
                                <i class="fa fa-heart"></i>
                            </button>
                            <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Compare">
                                <i class="fa fa-exchange"></i>
                            </button>
                        </div>
                        <div class="options-cart">
                            <button class="btn btn-default" title="Add to cart">
                                <span class="fa fa-shopping-cart"></span>
                            </button>
                        </div>
                        <a href="#"> <img src="https://unsplash.it/500/300?image=0" class="img-responsive" alt="Product Image" /> </a>
                    </div>
                    <div class="info">
                        <div class="row">
                            <div class="price-details col-md-6">
                                <p class="details">
                                    Lorem ipsum dolor sit amet, consectetur..
                                </p>
                                <h1>Sample Product</h1>
                                <span class="price-new">$110.00</span>
                            </div>
                        </div>
                    </div>
                </article>
                <p class="text-center">Hover over image</p>
            </div>
            <div class="col-sm-3">
                <article class="col-item">
                    <div class="photo">
                        <div class="options">
                            <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Add to wish list">
                                <i class="fa fa-heart"></i>
                            </button>
                            <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Compare">
                                <i class="fa fa-exchange"></i>
                            </button>
                        </div>
                        <div class="options-cart">
                            <button class="btn btn-default" title="Add to cart">
                                <span class="fa fa-shopping-cart"></span>
                            </button>
                        </div>
                        <a href="#"> <img src="https://unsplash.it/500/300?image=0" class="img-responsive" alt="Product Image" /> </a>
                    </div>
                    <div class="info">
                        <div class="row">
                            <div class="price-details col-md-6">
                                <p class="details">
                                    Lorem ipsum dolor sit amet, consectetur..
                                </p>
                                <h1>Sample Product</h1>
                                <span class="price-new">$110.00</span>
                            </div>
                        </div>
                    </div>
                </article>
                <p class="text-center">Hover over image</p>
            </div>
            <div class="col-sm-3">
                <article class="col-item">
                    <div class="photo">
                        <div class="options">
                            <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Add to wish list">
                                <i class="fa fa-heart"></i>
                            </button>
                            <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Compare">
                                <i class="fa fa-exchange"></i>
                            </button>
                        </div>
                        <div class="options-cart">
                            <button class="btn btn-default" title="Add to cart">
                                <span class="fa fa-shopping-cart"></span>
                            </button>
                        </div>
                        <a href="#"> <img src="https://unsplash.it/500/300?image=0" class="img-responsive" alt="Product Image" /> </a>
                    </div>
                    <div class="info">
                        <div class="row">
                            <div class="price-details col-md-6">
                                <p class="details">
                                    Lorem ipsum dolor sit amet, consectetur..
                                </p>
                                <h1>Sample Product</h1>
                                <span class="price-new">$110.00</span>
                            </div>
                        </div>
                    </div>
                </article>
                <p class="text-center">Hover over image</p>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        /*Tooltip*/
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}