<h3>¡Estás a un paso de registrarte correctamente!</h3>
<p>Confirma tu cuenta pulsando en el siguiente enlace:</p>
{{ url('confirmar_usuario_pass', {'usuario': usuario.id, 'token': token}) }}.
<p>Al pulsar en el enlace tendrás que escoger una contraseña para tu cuenta.</p>
